<div class="tbl-main-table">
    <div class="tbl-main-table_container">
        <div class="tbl-main-table_container_top-side">
            <div class="tbl-main-table_container_top-side__search">
                <input type="text" placeholder="Search objects...">
                <div><img src="../assets/images/search.svg" alt=""></div>
            </div>
            <div class="tbl-main-table_container_top-side__filter">
                <div><img src="../assets/images/filter.svg" alt=""></div>
            </div>
            <div class="tbl-main-table_container_top-side__add-account">
                <button>
                    <span> <img src="../assets/images/plus.svg" alt="">
                        <p> Yeni Hesap Ekle</p>
                    </span>
                </button>
            </div>
        </div>
        <div class="tbl-main-table_container_bottom-side">
            <table class="tbl-main-table_container_bottom-side_table">
                <tr class="tbl-main-table_container_bottom-side_table__table-title">
                    <th>
                        <div class="aligment">
                            <p> Sosyal Medya Linki</p>
                            <img src="../assets/images/arrow.svg" alt="">
                        </div>
                    </th>
                    <th>
                        <div class="aligment">
                            <p> Sosyal Medya Adı</p>
                            <img src="../assets/images/arrow.svg" alt="">
                        </div>
                    </th>
                    <th>Açıklama</th>
                </tr>
                <tr class="tbl-main-table_container_bottom-side_table__table-body">
                    <td>
                        <a href=""> test </a>

                    </td>
                    <td>
                        <a href=""> test</a>
                    </td>
                    <td>
                        <a href=""> test</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>