<header class="tbl-header">
    <div class="tbl-header_logo-part">
        <div class="tbl-header_logo-part__logo">
            <img src="../assets/images/logo.svg" alt="">
        </div>
    </div>
    <div class="tbl-header_menus">
        <a href="">
            Hakkımızda
        </a>
        <a href="">
            Jüri - Yarışma Yazılımı
        </a>
        <a href="">
            Word Ninja
        </a>
        <a href="">
            Word Ninja
        </a>
        <a href="">
            Word Pyramids
        </a>
    </div>
    <div class="tbl-header_social-medias">
        <div class="tbl-header_social-medias__part">
            <div>
                <img src="../assets/images/social-media-logos/youtube.svg" alt="">
            </div>
            <div>
                <img src="../assets/images/social-media-logos/instagram.svg" alt="">
            </div>
            <div>
                <img src="../assets/images/social-media-logos/media.svg" alt="">
            </div>
            <div>
                <img src="../assets/images/social-media-logos/linkedin.svg" alt="">
            </div>
        </div>
    </div>
</header>